# CONFIG_USELIB is not set
CONFIG_CFS_BANDWIDTH=y
# CONFIG_MODULE_FORCE_LOAD is not set
CONFIG_OLAF_SUPPORT=y
CONFIG_Q_NFC=y
CONFIG_GRIPPOWER_VENDOR=y
CONFIG_HALL_EVENT_REVERSE=y
CONFIG_SOFT_WATCHDOG=y
# CONFIG_MALI_PLATFORM_THIRDPARTY is not set
# CONFIG_MALI_PLATFORM_THIRDPARTY_NAME is not set
CONFIG_USB_ANDROID_SAMSUNG_MTP=y
# CONFIG_EXFAT_FS is not set
# CONFIG_EXFAT_VIRTUAL_XATTR is not set
# CONFIG_EXFAT_VIRTUAL_XATTR_SELINUX_LABEL is not set
# CONFIG_EXFAT_SUPPORT_STLOG is not set
# CONFIG_LOCKUP_DETECTOR is not set
CONFIG_SECURITY_PERF_EVENTS_RESTRICT=y
# CONFIG_FORCE_PERMISSIVE is not set
# CONFIG_MST_LDO is not set
# CONFIG_INTEGRITY is not set
