# CONFIG_USELIB is not set
# CONFIG_CFS_BANDWIDTH is not set
CONFIG_MODULE_FORCE_LOAD=y
# CONFIG_OLAF_SUPPORT is not set
# CONFIG_Q_NFC is not set
CONFIG_GRIPPOWER_VENDOR=y
# CONFIG_HALL_EVENT_REVERSE is not set
# CONFIG_SOFT_WATCHDOG is not set
CONFIG_MALI_PLATFORM_THIRDPARTY=y
CONFIG_MALI_PLATFORM_THIRDPARTY_NAME="exynos"
CONFIG_FB_NOTIFIER=y
# CONFIG_USB_ANDROID_SAMSUNG_MTP is not set
CONFIG_EXFAT_FS=y
CONFIG_EXFAT_VIRTUAL_XATTR=y
CONFIG_EXFAT_VIRTUAL_XATTR_SELINUX_LABEL="u:object_r:sdcard_external:s0"
CONFIG_EXFAT_SUPPORT_STLOG=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_HARDLOCKUP_DETECTOR_OTHER_CPU=y
CONFIG_HARDLOCKUP_DETECTOR=y
CONFIG_BOOTPARAM_HARDLOCKUP_PANIC=y
CONFIG_BOOTPARAM_HARDLOCKUP_PANIC_VALUE=1
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC=y
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC_VALUE=1
CONFIG_DETECT_HUNG_TASK=y
CONFIG_DEFAULT_HUNG_TASK_TIMEOUT=120
# CONFIG_BOOTPARAM_HUNG_TASK_PANIC is not set
CONFIG_BOOTPARAM_HUNG_TASK_PANIC_VALUE=0
CONFIG_SECURITY_PERF_EVENTS_RESTRICT=y
CONFIG_FORCE_PERMISSIVE=y
CONFIG_MST_LDO=y
CONFIG_INTEGRITY=y
